.iconsStyle{
    color: #212529;
}

td {
    padding: 20px;
}

tbody tr:nth-child(odd) {
    background-color: #f0f2f2;
}

tbody tr:nth-child(even) {
    background-color: #808080;
}

.confirmHeader {
    background-color: #8365a3;
    color: #FFFFFF;
}

.buttonModal {
    background-color: #8365a3!important;
    color: #FFFFFF;
    border: none !important;
}
