.layout{
    background-color: #8365a3;
    padding:20px;
    margin-bottom: 0;
    font-family: Bahnschrift;
    text-align: center;
    text-decoration: grey;
    color: #f0f2f2;
    margin-top: auto;
}
